.about {
  position: relative;
  z-index: 1;
  background-color: #000000;
  height: 100vh;
  margin-top: 250vh; 
}
.filter {
  position: absolute;
  z-index: 1;
  padding: 20px;
  right: 0;
  width: hug;
  height: hug;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  border: 2px solid red;
}
.me{
  position: absolute;
  width: 200px;
  height: 200px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}
.bio{
  position: absolute;
  width: 50%;
  height: 65%;
  top: 0;
  left: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
}
.bio h1{
  font-size: 40px;
  font-family: 'Orbitron';
  font-weight: bold;
  text-shadow:
    -1px -1px 1px hsl(0, 0%, 0%),
    1px 1px 1px hsl(0, 0%, 40%),
    0 0 4px rgba(255, 255, 255, 0.6),
    0 0 20px rgb(72, 255, 0);
}
.bio h2{
  font-size: 25px;
  font-family: 'Orbitron'
}
.bio h3{
  font-size: 20px;
  font-family: 'Inter'
}
.bio p{
  font-size: 15px;
  font-family: 'Inter'
}
.school{
  width: 500px;
  border-radius: 50px;
}
.skills{
  position: absolute;
  width: 50%;
  height: 65%;
  top: 0;
  right: 0;
  border: 2px solid red;
}
.skillPill{

}
.skillIcon{

  border-radius: 50%;
}
.fun{
  position: absolute;
  width: 100%;
  height: 35%;
  bottom: 0;
  border: 2px solid red;
}
.funItem{

}
.funImg{
  width: 250px;
  height: 250px;
}